@import "./mixin";
@import "./reset";

.el-button {
  line-height: 0 !important;
}
.app-container {
  padding: 10px;
}

.search-container {
  padding: 18px 0 0 10px;
  margin-bottom: 10px;
  background-color: var(--el-bg-color-overlay);
  border: 1px solid var(--el-border-color-light);
  border-radius: 4px;
  box-shadow: inset 1px 1px 0 0 hsla(0, 0%, 100%, 0.5);
  svg {
    width: 1em !important;
    height: 1em !important;
    margin-right: 3px;
  }
}
.table-container {
  svg {
    width: 1em !important;
    height: 1em !important;
    margin-right: 3px;
  }
  .el-card__header {
    padding: calc(var(--el-card-padding) - 8px) var(--el-card-padding);
  }
  .el-table__row {
    .el-table__cell {
      padding: 10px 0 !important;
    }
  }
  //表格分页
  .table-pagination {
    margin-top: 14px;
    justify-content: end;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32 160 255);
  }
}
